.customer-listing {
	background-color: #f7f9fb;
	width: 20vw;
	margin: 1em;
	padding: 1em;
}

.customer-name h2 {
  color: #45A29E;
}

.rental-info ul {
  text-align: left;
  list-style-type: none;
}

.address-info ul {
  text-align: left;
  list-style-type: none;
}