.app-header {
  background-color: #0b0c10;
  padding: 2em 2em 1em;
  text-align: center;
}

.app-header h1 {
  color: #f7f9fb;
  font-size: 3em;
  margin: 1em 0 1.5em;
}

.app-header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0 15vw;
  text-transform: uppercase;
}

.app-header ul a {
  font-size: 1.2em;
  font-weight: 800;
  color: #00adb5;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.app-header ul a:hover {
  color: #222831;
}

