.app-header {
  background-color: #393e46;
  padding: 2em 2em 1em;
  text-align: center;
}

.app-header h1 {
  color: #fff;
  margin: 1em 0 2em;
}

.app-header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0 15vw;
  text-transform: uppercase;
}

.app-header ul a {
  color: #00adb5;
  text-decoration: none;
}

.app-header ul a:hover {
  color: #222831;
}

